<div>

  <v-snackbar
          v-model="snackbar"
          :timeout="snackbar_timeout"
  >
    {{ snackbar_text }}

    <template v-slot:action="{ attrs }">
      <v-btn
              color="blue"
              text
              v-bind="attrs"
              @click="snackbar = false"
      >
        Закрыть
      </v-btn>
    </template>
  </v-snackbar>


  <v-container v-if="!ready">
    Грузимся
  </v-container>

  <v-container v-else>
    <v-row>
      <v-col
              cols="8"
      >
<!--        <v-btn @click="toCSV">sdfsdf</v-btn>-->

<!--        <download-csv-->
<!--                class   = "btn btn-default"-->
<!--                :data   = "company_list"-->
<!--                name    = "filename.csv">-->
<!--          <v-btn-->
<!--                  color="amber"-->
<!--                  dark-->
<!--          >-->
<!--            Скачать CSV-->
<!--          </v-btn>-->
<!--        </download-csv>-->
<!--        <br>-->



        <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Поиск"
                single-line
                hide-details
                outlined
        ></v-text-field>

        <v-data-table
                :headers="headers"
                :items="company_list"
                sort-by="calories"
                class="elevation-1"
                :search="search"
                @click:row="loadItem"
        >
          <template v-slot:top>
            <v-toolbar
                    flat
            >
              <v-toolbar-title>
                <v-btn
                      @click="loadList(1)"
                      color="green"
                      dark
                >
                  Обновить таблицу
                </v-btn>
              </v-toolbar-title>
              <v-divider
                      class="mx-4"
                      inset
                      vertical
              ></v-divider>
              <v-spacer></v-spacer>
              <v-btn
                      color="primary"
                      dark
                      class="mb-2"
                      @click="loadItem(company)"
              >
                Новая
              </v-btn>

            </v-toolbar>
          </template>


          <template v-slot:item.id="{ item }">
            <v-chip
              :class="{'blue': item.id === company_edited.id }"
            >
              {{item.id}}
            </v-chip>

          </template>

          <template v-slot:item.name_ru="{ item }">
            <v-chip
                    :color="status[item.status].color"
            >
            </v-chip>
            {{item.name_ru}}

          </template>


          <template v-slot:item.segment="{ item }">
            {{segment[item.segment].name}}
          </template>

          <template v-slot:item.brand="{ item }">
            <v-icon v-if="item.published" color="green">
              mdi-check-circle-outline
            </v-icon>
            <v-icon v-else color="amber">
              mdi-checkbox-blank-circle-outline
            </v-icon>

            {{item.brand}}

          </template>

        </v-data-table>
      </v-col>


      <v-col
              cols="4"
      >
        <v-app-bar
                fixed
                color="deep-purple accent-4"
                dark
                scroll-target="#scrolling-techniques-6"
        >
          <v-row>
            <v-col
                    cols="8"
            >
              Leavers adm
            </v-col>

            <v-col
                    cols="4"
            >

              <v-row>
                <v-col>
                  <v-btn
                          :color="add_update_color"
                          dark
                          :loading="working"
                          @click="addUpdateCompany"
                  >
                    {{ add_update_text }}
                  </v-btn>
                </v-col>

                <v-col class="text-center pt-4">
                  ID: {{ company_edited.id }}
                </v-col>

                <v-col>
                  <v-btn
                          class="ml-10"
                          color="red"
                          dark
                          :loading="working"
                          :disabled = "!company_edited.id>0"
                          @click="deleteCompany(company_edited.id)"
                  >
                    Удалить
                  </v-btn>
                </v-col>

              </v-row>


            </v-col>
          </v-row>
        </v-app-bar>

        <v-container>
<!--          <v-row style="position: fixed; top:80px; background-color:red;" >-->


        </v-container>









        <v-row>
          <v-col>
            <v-text-field
                    label="Название"
                    v-model="company_edited.name_ru"
            ></v-text-field>
          </v-col>

          <v-col>
            <v-text-field
                    label="Название en"
                    v-model="company_edited.name_eng"
            ></v-text-field>
          </v-col>
        </v-row>





        <v-text-field
                label="Бренд"
                v-model="company_edited.brand"
        ></v-text-field>

        <v-textarea
                label="Описание"
                v-model="company_edited.description"
                outlined
        ></v-textarea>

        <v-row>
          <v-col>
            <v-menu
                    v-model="picker.in"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                        v-model="company_edited.year_in"
                        label="На рынке с"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                      v-model="company_edited.year_in"
                      @input="picker.in = false"
              ></v-date-picker>
            </v-menu>

          </v-col>

          <v-col>
            <v-menu
                    v-model="picker.out"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                        v-model="company_edited.year_out"
                        label="Ушли"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                      v-model="company_edited.year_out"
                      @input="picker.out = false"
              ></v-date-picker>
            </v-menu>
          </v-col>

          <v-col>

            <v-menu
                    v-model="picker.return"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                        v-model="company_edited.year_return"
                        label="Вернулись"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                      v-model="company_edited.year_return"
                      @input="picker.return = false"
              ></v-date-picker>
            </v-menu>

          </v-col>

        </v-row>



        <v-row>
          <v-col>
            <v-select
                    label="Сегмент"
                    :items="segment"
                    item-value="id"
                    item-text="name"
                    v-model="company_edited.segment"
            ></v-select>
          </v-col>

          <v-col>
            <v-switch
                    color="red"
                    v-model="company_edited.published"
                    label="Опубликовано"
            ></v-switch>
          </v-col>



        </v-row>



        <v-row>
          <v-col>
            <v-select
                    label="Статус"
                    :items="status"
                    item-value="id"
                    item-text="name"
                    v-model="company_edited.status"

            ></v-select>
          </v-col>

          <v-col>
            <v-switch
                    v-model="company_edited.is_leave"
                    :label="`Ушла: ${company_edited.is_leave.toString()}`"
            ></v-switch>
          </v-col>

        </v-row>

        <v-textarea
                label="Коммент"
                hint="Hint text"
                outlined
                v-model="company_edited.comment"
        ></v-textarea>

        <v-textarea
                label="Картинки"
                outlined
                v-model="company_edited.images_text"
        ></v-textarea>

        <v-textarea
                label="Ссылки"
                outlined
                v-model="company_edited.links_text"
        ></v-textarea>

        <v-textarea
                label="Люди"
                outlined
                v-model="company_edited.peoples_text"
        ></v-textarea>




        <v-subheader class="pl-0">
          Уровень последствий
        </v-subheader>
        <v-slider
                v-model="company_edited.rage"
                :thumb-size="24"
                thumb-label="always"
        >
          <template v-slot:thumb-label="{ value }">
            {{ satisfactionEmojis[Math.min(Math.floor(value / 10), 9)] }}
          </template>
        </v-slider>

        <v-row>
          <v-col>
            <v-text-field
                    label="Страна"
                    v-model="company_edited.country"
            ></v-text-field>
          </v-col>

          <v-col>
            <v-text-field
                    label="Страна основателей"
                    v-model="company_edited.country_root"
            ></v-text-field>
          </v-col>
        </v-row>





        <v-text-field
                label="ИНН"
                v-model="company_edited.inn"
        ></v-text-field>

        <v-text-field
                label="ФИО"
                v-model="company_edited.FIO"
        ></v-text-field>




      </v-col>










    </v-row>
  </v-container>











</div>
